<p>
    @Html.ActionLink(L("CreateANewPhrase"), "Create", "Phrases", new { @target = "_blank" }) | <a href="" data-toggle="modal" data-target="#searchPrasesModal">@L("Search")</a> | @Html.ActionLink("All deleted phrases","AllDeletedPhrases","Phrases")
</p>
